---
import { ClientRouter } from 'astro:transitions';
import type { MarkdownLayoutProps } from 'astro';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased wrap-break-word">
    <head>
        <BaseHead {...frontmatter} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <ClientRouter />
    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav />
            <main class="grow w-full max-w-3xl mx-auto">
                <article class="mb-16 sm:mb-24">
                    <div class="max-w-none prose prose-dante sm:prose-lg">
                        <slot />
                    </div>
                </article>
            </main>
            <Footer />
        </div>
    </body>
</html>
